.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  justify-content: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-width);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-width);
  }
  @media (max-width: 487px) {
    grid-template-columns: repeat(1, $card-width);
  }
}
